:root{
    --colors1: #2F79, #4E79, #6E79;
    --colors2 : #517c, #747C,#7DDC;
    --colors9 : #517c, #2d363b;
    --colors3 : #7514, #D344;
    --colors7 : #38b2, #9fbb;
    --colors4 : #93BA, #BA3F;
    --colors5 : #93BA, #589B;
    --colors6 : #9B6,  #589B;
    --colors8 : #29312e,  #39b;

}
.btnCreate{
    color: #fff;
    background: linear-gradient(9deg, var(--colors8));
    font-size: medium;
    border: .2rem solid linear-gradient(9deg, var(--colors8));
    font-weight: 4;
}
.btnCreate:hover{
    color: green;
    background: #fff;
    font-size: medium;
    border: .1rem solid green;
    font-weight: 4;

}

.w-icon{
    font-size: large;
}

.btnClose{
    color:#fff;
    background: linear-gradient(9deg, var(--colors7));
    font-size: x-small;
    border: .2rem solid linear-gradient(9deg, var(--colors7));
    font-weight: 4;
}
.btnClose:hover{
    color: #f6f2f2;
    background: linear-gradient(9deg, var(--colors7));
    font-size: medium;
    border: .2rem solid linear-gradient(9deg, var(--colors7));
    font-weight: 4;

}
.iconClose{
    color: #b41e1;
    font-size: large;
}
.iconClose:hover{
    font-size: x-large;
}

.btnSuccess{
    background: linear-gradient(9deg, var(--colors8));
    color: whitesmoke;
    border: .2rem solid linear-gradient(9deg, var(--colors2));
}
.btnSuccess:hover{
    color: whitesmoke;
    border: .2rem solid rgb(, 164, 3);
}
.btnCancel{
    background:  linear-gradient(9deg, var(--colors9));
    color: whitesmoke;
    border: .2rem solid linear-gradient(9deg, var(--colors9));
}
.btnCancel:hover{
    background:  linear-gradient(9deg, var(--colors9));
        color: whitesmoke;
    border: .2rem solid darkcyan;
}
