
.btnCreate{
    color: #f0f0f0;
    background: linear-gradient(90deg, var(--colors8));
    font-size: medium;
    border: 0.2rem solid linear-gradient(90deg, var(--colors8));
    font-weight: 400;
}
.btnCreate:hover{
    color: green;
    background: #f0f0f0;
    font-size: medium;
    border: 0.1rem solid green;
    font-weight: 400;

}

.w-icon{
    font-size: large;
}

.btnClose{
    color:#f0f0f0;
    background-image: linear-gradient(to left, var(--colors11));
    font-size: 1rem;
    border: 0.02rem solid linear-gradient(90deg, var(--colors7));
    font-weight: 400;
}
.btnClose:hover{
    color: #f6f2f2;
    background: linear-gradient(90deg, var(--colors7));
    font-size: 1.1rem;
    border: 0.02rem solid linear-gradient(90deg, var(--colors7));
    font-weight: 400;

}
.iconClose{
    color: #b41e01;
    font-size: large;
}
.iconClose:hover{
    font-size: x-large;
}

.btnSuccess{
    background: linear-gradient(180deg, var(--colors8));
    color: whitesmoke;
    border: 0.2rem solid linear-gradient(90deg, var(--colors2));
}
.btnSuccess:hover{
    color: whitesmoke;
    border: 0.2rem solid rgb(19, 70, 28);
}
.btnCancel{
    background:  linear-gradient(90deg, var(--colors9));
    color: whitesmoke;
    border: 0.2rem solid linear-gradient(90deg, var(--colors9));
}
.btnCancel:hover{
    background:  linear-gradient(90deg, var(--colors9));
        color: whitesmoke;
    border: 0.2rem solid darkcyan;
}
