* {
    margin: 0;
    padding: 0;
}

.body-nav {
}

/* .nav-section {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
background: black;
} */

/* .nav-section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
    backdrop-filter: blur(5px);
    background: red;
    border-top: 1px solid rgba(255, 255, 255, 0.5); 
} */
/* 
.nav-section .color {
    position: absolute;
    filter: blur(150px)
} */

/* .nav-section .color:nth-child(1) {
    background: #ff359b;
    width: 600px;
    height: 600px;
    top: -350px;
}

.nav-section .color:nth-child(2) {
    background: #00d2ff;
    width: 500px;
    height: 500px;
    bottom: -150px;
    left: 100px;
}

.nav-section .color:nth-child(3) {
    background: #fffd87;
    width: 300px;
    height: 300px;
    bottom: 50px;
    right: 100px;
} */
/* 
.ul-nav {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.ul-nav li {
    position: relative;
    list-style: none;
    margin: 10px;

}
.ul-nav li a i{
    font-size: medium;
}
.ul-nav li a {
    position: relative;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    transition: 1s;
    overflow: hidden  ;
}
.ul-nav li a:hover{
    transform: translateX(20px);
}
.ul-nav li a::before{
    content: '';
    position: absolute;
    top: 0  ;
    left: 0;
    width: 40px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 1.5s;
}
.ul-nav li a:hover::before {
    transform: skewX(45deg) translateX(-150px);
    transition: 1.5s;
}

.ul-nav li:after {
    background: rgba(198, 198, 198, 0.5);
    border-radius: 5px;
    color: rgb(0, 0, 0, 0.5);
    content: 'hola';
    opacity:0;
    position: absolute;
    left: 150%;
    top: 0.5rem;
    transition: all 1.9s ease;
    visibility: hidden;
    white-space: nowrap;
  }
  .ul-nav li:hover:after {
    opacity: 1;
    visibility: visible;
} */


.logo-mabels {
    width: 7rem;
    height: 3.5rem;
    border-radius: 50%;
    padding: 0.3rem;
    margin-left: 1.5rem;
}

.w-screen {
    width: 100%;
}

.h-screenContainer {
    height: 100vh;
}