.accounts{
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
    background-color:#e7e4e4;
    padding: 0.4rem;
    border-radius: .5rem;
}
.accounts:hover {
    font-size: 1.4rem;
    color: black;
    background-color: rgb(167, 161, 161);
}
