.accounts{
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
    background-color:#e7e4e4;
    padding: 0.4rem;
    border-radius: .5rem;
}
.accounts:hover {
    color: black;
    background-color: rgb(167, 161, 161);
}
.home{
    border: 0.2rem solid rgb(182, 175, 175);
    border-radius: 0.5rem;
    background-color: white;
}
.content{
    margin-left: 0px;
    margin-right: 0px;
}