@import '../../utils/variables.css';
.position-header{
    width: 99.9%;
    height: 10vh;
    background:linear-gradient(90deg, var(--colors3));
}
/* .logo-mabels {
    width: 4rem;
    height: 4rem;
    border-radius: 5%;
    padding: .3rem;
    margin-left: 1.5rem;
} */