:root {
    --colors1: #2F79, #4E79, #6E79;
    --colors2 : #517c, #747C,#7DDC;
    --colors9 : #517c, #2d363b;
    --colors3 : #7514, #D344;
    --colors7 : #38b2, #9fbb;
    --colors4 : #93BA, #BA3F;
    --colors5 : #93BA, #589B;
    --colors6 : #9B6,  #589B;
    --colors8 : #29312e,  #39b;

}
