:root {
    --colors1: #2F0079, #4E0079, #6E0079;
    --colors2 : #00517c, #00747C,#007DDC;
    --colors9 : #00517c, #2d363b;
    --colors3 : #751400, #D34400;
    --colors7 : #38b2, #9fbb;
    --colors4 : #93BA, #BA3F;
    --colors5 : #93BA, #589B;
    --colors6 : #009B60,  #00589B;
    --colors8 : #29312e,  #39b;

}
