/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}










.w-drawer {
    width: 100%;
    height: auto;
    margin-left: 0.1%;
    margin-top: 0.1%;
}




.mt-nav-2 {
    margin-top: 1rem;
}



.origin-left {
    -webkit-transform-origin: left;
    transform-origin: left;
}



.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}




.mt-9 {
    margin-top: 1.5rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.hidden-drawer {
    display: none;
}



.text-links {
    color: aliceblue;
}

.links-mouse {
    color: #d8d8d8;
}

.link-drawer {
    display: flex;
    justify-content: center;
    position: relative;
}
 */
