* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color1: #2F0079, #4E0079, #6E0079;
    --bg-color3: #751400, #D34400;

}
.ul-nav {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: 100%;
}

.ul-nav :hover {
    transform: translateX(1.7rem);
}
.ul-nav  ::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(180px);
    transition: 1.5s;
}

.ul-nav  :hover::before {
    transform: skewX(45deg) translateX(-150px);
    transition: 1.5s;
}
.ul-nav-li {
    position: relative;
    width: 100%;
    height: 2.6rem;
    border-radius: 0.7rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    column-gap: 0.5rem;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    transition: 1s;
    overflow: hidden;
}




 /* .ul-nav-li::after {
    background: rgba(198, 198, 198, 0.5);
    border-radius: 5px;
    color: rgb(0, 0, 0, 0.5);
    content: 'hola';
    opacity:0;
    position: absolute;
    left: 150%;
    top: 0.5rem;
    transition: all 1.9s ease;
    visibility: hidden;
    white-space: nowrap;
  }
  .ul-nav-li:hover:after {
    opacity: 1;
    visibility: visible;
}  */



.icon-drawer {
    color: rgb(96, 237, 127);
}
.icons-close{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.flex {
    display: flex;
}

.w-drawer-open {
    width: 13rem;
}

.w-drawer-close {
    width: 4.5rem;
}

.bg-dark-purple {
    background: linear-gradient(90deg   , var(--bg-color3));

}

.h-screen {
    height: auto;
}

.w-drawer {
    width: 100%;
    height: auto;
    margin-left: 0.1%;
    margin-top: 0.1%;
}

.p-drawer {
    padding: 0.5rem;
}

.pt-8 {
    padding-top: 2.5rem;
}

.rotate-drawer {
    transform: rotate(0deg);

}
.rotate-drawer-close {
    transform: rotate(180deg);
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.cursor-pointer {
    cursor: pointer;
}

.-right-3 {
    right: -0.75rem;
}

.items-center {
    align-items: center;
}

.origin-left {
    -webkit-transform-origin: left;
    transform-origin: left;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.p-drawer {
    padding-top: 1rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}


.jst-content{
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}

.mt-9 {
    margin-top: 1.5rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.hidden-drawer {
    display: none;
}

.wh-icon-close {
    border-radius: 50%;
    font-size: 2.2rem;
    background: #2F0079;

}

.wh-icon {
    width: 1.8rem;
    font-size: 1.8rem;
    background: #d6b9ac;
}
.text-links{
    color: aliceblue;
}
.links-mouse{
    color: #d8d8d8;
}


/* .links-mouse:hover{
    background-color: rgba(255, 255, 255, 0.17)
}


.links-mouse:focus{
    background-color: rgba(255, 255, 255, 0.17)
}  */